<div class="row p-5">
    <div class="col-lg-3 col-md-3 col-xs-0 col-sm-0"></div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
        <div class=" col-lg-12 col-md-12 ofsset-md-2 col-sm-12 col-xs-12 offset-sm-0 offset-lg-0" >
      <h5 class="colorgris animated fadeIn slow " >ARANCELES DEL CICLO</h5>
      <hr>
      <br>      
  
      <img class="img-justify" src="../../../../assets/images/facturacion.jpg" class="img-fluid" alt="Responsive image">
  </div>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-0 col-sm-0"></div> 
</div>