<div  class=" sub-menu-top pl-4 animated fadeIn slow ">
    <ul class="nav mr-auto d-flex ">
        <li class="nav-item nav-toggler" routerLinkActive="active">
            <a class="nav-link hvr-grow text-secondary" [routerLink]="[{ outlets: { sec: ['general'] } }]" >Sec. General</a>
        </li>
        <li class="nav-item hvr-grow">
            <a class="nav-link text-secondary"  [routerLink]="[{ outlets: { sec: ['accionsocial'] }}]">Sec. Acción social</a>
        </li>
        <li class="nav-item hvr-grow" >
            <a class="nav-link text-secondary" [routerLink]="[{ outlets: { sec: ['asuntosprof'] }}]">Sec. Asuntos profesionales</a>
        </li>
        <li class="nav-item hvr-grow" >
            <a class="nav-link text-secondary" [routerLink]="[{ outlets: { sec: ['cientifica'] }}]">Sec. Científica</a>
        </li>
    </ul>   
  </div>
  
  <div class="container-fluid">
      <router-outlet name="sec"></router-outlet>
  </div>