<div class="row p-5">
    <div class="col-xl-3 col-lg-3 col-md-3 col-xs-0 col-sm-0"></div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        <div class=" col-lg-12 col-md-12 ofsset-md-2 col-sm-12 col-xs-12 offset-sm-0 offset-lg-0" >
      <h5 class="colorgris animated fadeIn slow " >ACCESOS A SISTEMAS DE AUTORIZACIONES</h5>
      <hr>
      <br>      
      
      <div class="card-columns  fluid-center  ">

        <div class="card bg-light mb-3 p-2  animated fadeInLeft  slow" >
                  <h5 class="card-title ">Colegio de psicologos</h5>
                  <img class="card-img-top" src="../../../assets/images/logocolegio.png"  alt="Logo colegio">
                  <h5 class="card-title "><a href="http://200.5.196.186/PsicologosWeb/Login.aspx" target="_blank">Acceder al sistema del colegio de psicologos</a></h5>
                  <div class="card-body">
                    
                    <p class=" text-justify"><a href="documentation/autorizaciones/Instructivo-PRESTADORES.pdf" target="_blank">Manual de Instrucciones</a>    </p>
                                        
                  </div>
                </div>

                <div class="card bg-light mb-3 p-2  animated fadeInRight  slow" >
                  <h5 class="card-title ">Colegio Médico</h5>
                  <img class="card-img-top" src="../../../assets/images/logo_colmed.png"   alt="logo colmed">
                  <h5 class="card-title "><a href="http://200.5.196.186/ColmedPracticas/Login.aspx" target="_blank">Acceder al sistema del colegio médico</a></h5>
                  <div class="card-body">
                    
                    <p class=" text-justify"><a href="documentation/autorizaciones/Manual_Validacion-Colmed.pdf" target="_blank">Manual de Instrucciones</a>    </p>
                                        
                  </div>
                </div>
      </div>
  </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-xs-0 col-sm-0"></div> 
</div>