
<nav id="top-submenu" class="1 container-fluid  navbar navbar-expand-lg sticky-top animated fadeIn slow ">
    <button class="navbar-toggler navbar-light bg-light" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
  
  
    <div class=" navbar-collapse collapse animated fadeIn slow"
         [ngClass]="{ 'show': navbarOpen }"
         >
          <div class="row ">
           <div class="   col-12 justify-content-start">
              <ul class="navbar-nav mr-auto d-flex " >
                  <li routerLinkActive="active" class="nav-item hvr-shrink nav-item nav-toggler btn-menu-cinco-submenu  pt-1 pl-2 pr-2" >
                      <a class="pl-4 menu-font nav-link text-white" routerLink="/psicologo/principal"  (click)="toggleNavbar()">Inicio</a>
                   </li>
                <li routerLinkActive="active" class="nav-item hvr-shrink nav-item nav-toggler btn-menu-uno-submenu  pt-1 pl-2 pr-2" >
                   <a class="pl-4 menu-font nav-link text-white" routerLink="/psicologo/liquidacion"  (click)="toggleNavbar()">Mis liquidaciones</a>
                </li>
                <li class="hvr-shrink  nav-item btn-menu-dos pt-1 pl-2 pr-2" >
                  <a class="menu-font  nav-link text-white " routerLink="/psicologo/noticias" data-toggle="collapse"   (click)="toggleNavbar()">Noticias</a>
                  </li>         
             
                <li routerLinkActive="active" class="nav-item hvr-shrink  nav-item btn-menu-cinco-submenu pt-1 pl-2 pr-2" >
                  <a class="menu-font  nav-link text-white " routerLink="/psicologo/cursos"   (click)="toggleNavbar()">Cursos</a>
              </li>          
             
            
                  
              
            </ul>   
           
           </div>
          
        </div>
      
      
       
    </div>
    
  </nav>

<div class="row mt-3 ml-3 ">
<h4 class="text-center colorgris animated fadeIn slow">PUBLICACIONES Y CURSOS</h4>
</div>
<hr>


   
    <div class="row p-5 center d-flex justify-content-center">
        
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12  ">
  <div class="box  ">
  <h6>Pagos con la aplicación de banco san juan</h6>
  <hr>
  <iframe class="ui-panel-images"src="https://www.youtube.com/embed/qFe6_kN85yw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div  class="box ">
    <h6>Procedimiento para realizar la factura electrónica</h6>
    <hr>
    <iframe class="ui-panel-images "  src="https://www.youtube.com/embed/IF2meb4d4qI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>
</div>
