
    
          <div id="top" class="flexbox container-fluid fadeIn slow">
                <div class="list-group list-group-horizontal">
                    <a  class="active text-white btn-menu-cuatro pt-2 p-2 pl-2" routerLink="/institucional/historia" >Historia</a>
                    <a  class="       text-white btn-menu-tres pt-2 p-2 " routerLink="/institucional/autoridades" >Autoridades</a>
                    <a  class="       text-white btn-menu-dos  pt-2  p-2 pt-2" routerLink="/institucional/legislacion" >Legislación</a>
                  
                </div>
              </div>
<div class="row container-fluid p-5 animated fadeIn slow">
        <div class="col-lg-3 col-md-3 col-xs-0 col-sm-0"></div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6  col-xl-6">
            <div class=" col-lg-12 col-md-12  col-sm-12 col-xs-12 offset-sm-0 offset-md-0 offset-xl-0 offset-lg-0" >
         <h5 class="colorgris animated fadeIn slow " >JUNTA DIRECTIVA</h5>
        <hr>
        <br>
        <div class=" col-lg-12 col-md-12 ofsset-md-2 col-sm-0 offset-sm-0 offset-lg-0" >   
        <img class="img-justify" src="../../../../assets/images/junta_directiva.jpg" class="img-fluid" alt="Responsive image">
        </div>
        </div>
        <div class=" container-fluid  pt-2  ">    
            
                <div class=" col-lg-12 col-md-12  col-sm-12 col-xs-12 offset-sm-0 offset-md-0 offset-xl-0 offset-lg-0" >                  
                    <br>
                     <h5 class="colorgris animated fadeIn slow " > Miembros de junta directiva</h5>
                     <hr>
                      <div class="row">
                          <div class="col-md-6  col-lg-6 col-sm-12 animated slideInLeft ">
                                <p><span   style="font-size: 24px; color: Dodgergray;"><i class="fas fa-user"> </i></span> <span class=" pl-2 font-weight-bold text-info">Presidente: </span>Lic. Gema Galván</p>
                                <p><span   style="font-size: 24px; color: Dodgerpink;"><i class="fas fa-user"> </i></span> <span class=" pl-2 font-weight-bold text-info">Vice Presidente:</span> Lic. Bibiana Noe</p>
                                <p><span   style="font-size: 24px; color: Dodgergray;"><i class="fas fa-user"> </i></span><span class=" pl-2 font-weight-bold text-info">Sec. Gral.:</span> Lic. Natalia Brizuela</p>	
                                <p><span   style="font-size: 24px; color: Dodgerpink;"><i class="fas fa-user"> </i></span> <span class="pl-2 font-weight-bold text-info">Sec. Científica:</span> Lic. Luis Lucero</p>
                          </div>
                          <div class="col-md-6 col-lg-6 col-sm-12 animated slideInRight">
                              <p><span   style="font-size: 24px; color: Dodgerpink;"><i class="fas fa-user"> </i></span><span class="pl-2 font-weight-bold text-info"> Tesorera:</span> Lic. Gabriela Flores</p>
                              <p><span   style="font-size: 24px; color: Dodgerpink;"><i class="fas fa-user"> </i></span> <span class="pl-2 font-weight-bold text-info">Pro tesorero:</span> Lic. Gerardo Montenegro</p>
                              <p><span   style="font-size: 24px; color: Dodgerpink;"><i class="fas fa-user"> </i></span> <span class="pl-2 font-weight-bold text-info">Sec. Asuntos Profesionales:</span> Lic. Hilda Quintero</p>
                              <p><span   style="font-size: 24px; color: Dodgerpink;"><i class="fas fa-user"> </i></span> <span class="pl-2 font-weight-bold text-info">Sec. social: </span>Lic. Carina Carrizo </p>
                          </div>
                      </div>
                        <br>
                        <h5 class="colorgris animated fadeIn slowanimated fadeIn slow" > Vocales:</h5>
                        <hr>
                         <div class="row">
                          <div class="col-md-6  col-lg-6 col-sm-12 animated slideInLeft ">
                               
                              <p><span   style="font-size: 24px; color: Dodgerpink;"><i class="fas fa-user"> </i></span> Lic. Celia Márquez</p>
                                <p><span   style="font-size: 24px; color: Dodgergray;"><i class="fas fa-user"> </i></span> Lic. Yanina flaque</p>	
                          </div>
                          <div class="col-md-6 col-lg-6 col-sm-12 animated slideInRight">
                              
                              <p><span   style="font-size: 24px; color: Dodgerpink;"><i class="fas fa-user"> </i></span> Lic. Mabel Mengual</p>                        
                          </div>
                      </div>
                    
                <br>
                     
          </div>
      </div>
          
    </div>
    <div class="col-lg-3 col-md-3 col-xs-0 col-sm-0"></div>
    
  </div>