
 <div >
  <app-loading *ngIf="loading"> </app-loading> 
 
</div>

<nav id="top-submenu" class="mt-1 container-fluid  navbar navbar-expand-lg sticky-top animated fadeIn slow ">
  <button class="navbar-toggler navbar-light bg-light" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

 

  <div class=" navbar-collapse collapse animated fadeIn slow"
       [ngClass]="{ 'show': navbarOpen }"
       >
        <div class="row ">
         <div class="   col-12 justify-content-start">
            <ul class="navbar-nav mr-auto d-flex " >
                <li routerLinkActive="active" class="nav-item hvr-shrink nav-item nav-toggler btn-menu-cinco-submenu  pt-1 pl-2 pr-2" >
                    <a class="pl-4 menu-font nav-link text-white" routerLink="/psicologo/principal"  (click)="toggleNavbar()">Inicio</a>
                 </li>
              <li routerLinkActive="active" class="nav-item hvr-shrink nav-item nav-toggler btn-menu-uno-submenu  pt-1 pl-2 pr-2" >
                 <a class="pl-4 menu-font nav-link text-white" routerLink="/psicologo/liquidacion"  (click)="toggleNavbar()">Mis liquidaciones</a>
              </li>
              <li class="hvr-shrink  nav-item btn-menu-dos pt-1 pl-2 pr-2" >
                <a class="menu-font  nav-link text-white " routerLink="/psicologo/noticias" data-toggle="collapse"   (click)="toggleNavbar()">Noticias</a>
                </li>         
           
              <li routerLinkActive="active" class="nav-item hvr-shrink  nav-item btn-menu-cinco-submenu pt-1 pl-2 pr-2" >
                <a class="menu-font  nav-link text-white " routerLink="/psicologo/cursos"   (click)="toggleNavbar()">Cursos</a>
            </li>          
           
          
                
            
          </ul>   
         
         </div>
        
      </div>
    
    
     
  </div>
  
</nav>
<div class="row mt-3 ml-3 mr-3 ">
    <h4 class="text-center colorgris animated fadeIn slow">LIQUIDACION DE MATRICULA Nº : {{matricula}}</h4>
    </div>
    <hr>
    

    <div class="row mt-3 ml-3 ui-fluid">
    <p-table #dt [columns]="cols" [value]="elementos"  [value]="elementos" selectionMode="single" [resizableColumns]="true"
     [scrollable]="true" scrollHeight="300px" >
             
                <ng-template pTemplate="header" let-columns  [pSelectableRow]="elementos" > 
                    <tr>
                        <th  *ngFor="let col of columns" [pSortableColumn]="col.field" [width]="col.width"  >
                            {{col.header}}
                            <p-sortIcon [field]="col.field"  ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th>
                     
                    </tr>
                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field" >
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'id_liquidacion'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'num_comprobante'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" autofocus>
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'os_liq_bruto'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                      
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'os_desc_fondo_sol'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                      
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'os_desc_matricula'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'os_descuentos'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                      
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'os_gasto_admin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">                      
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'os_imp_cheque'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'os_ing_brutos'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'os_lote_hogar'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                            <input class="form-control col-md-12 form-control-sm"  *ngSwitchCase="'os_liq_neto'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" >                      
                        </th>
                    </tr>
                </ng-template>
      
                <ng-template pTemplate="body" let-elementos >
                  <tr [pSelectableRow]="elementos" >
                    <td style="width: 6%">{{elementos.id_liquidacion}}</td>
                    <td style="width: 8%">{{elementos.num_comprobante}}</td>
                    <td style="width: 8%">{{elementos.os_liq_bruto}}</td>                                                                                              
                    <td style="width: 8%">{{elementos.os_desc_fondo_sol |  number : '1.2-2'}}</td>
                    <td style="width: 8%">{{elementos.os_desc_matricula |  number : '1.2-2'}}</td>
                    <td style="width: 8%">{{elementos.os_descuentos |  number : '1.2-2'}}</td>
                    <td style="width: 8%">{{elementos.os_gasto_admin |  number : '1.2-2'}}</td>
                    <td style="width: 8%">{{elementos.os_imp_cheque |  number : '1.2-2'}}</td>
                    <td style="width: 8%">{{elementos.os_ing_brutos |  number : '1.2-2'}}</td>
                    <td style="width: 8%">{{elementos.os_lote_hogar |  number : '1.2-2'}}</td>
                    <td style="width: 8%">{{elementos.os_liq_neto |  number : '1.2-2'}}</td>
  
            </tr>
        </ng-template>
    </p-table>
  </div>