
          <div id="top" class="flexbox container-fluid">
              <div class="list-group list-group-horizontal">
                  <a  class="active hvr-shrink  text-white btn-menu-cuatro pt-2 p-2 pl-2" routerLink="/institucional/historia" >Historia</a>
                  <a  class="       hvr-shrink  text-white btn-menu-tres pt-2 p-2 " routerLink="/institucional/autoridades" >Autoridades</a>
                  <a  class="       hvr-shrink  text-white btn-menu-dos  pt-2  p-2 pt-2" routerLink="/institucional/legislacion" >Legislación</a>
                
              </div>
            </div>
  
<div class="row p-5 animated fadeIn slow">
  <div class="col-lg-3 col-md-3 col-xs-0 col-sm-0"></div>
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
      <div class=" col-lg-12 col-md-12 ofsset-md-2 col-sm-12 col-xs-12 offset-sm-0 offset-lg-0" >
        <h5 class="colorgris animated fadeIn slow text-justify">LEGISLACIÓN</h5>
        <hr>
        <br>
        <h6>
          <a href="../../../../assets/pdf/LEY_5436.pdf" target="_blank">1 - LEY 5436 - PSICOLOGÍA</a>
        </h6>
        <p>
          Ley mediante la cual se crea el Colegio de Psicólogos de la Provincia de San Juan
        </p>
        <br>
        <h6>
          <a href="../../../../assets/pdf/LNSM_26657.pdf" target="_blank">2 - LEY NACIONAL DE SALUD MENTAL N° 26657</a>
        </h6>
        <p>
          Esta ley reconoce la autonomía de las personas con padecimiento mental y su capacidad para decidir sobre lo que desean, recomienda la internación como un recurso terapéutico a utilizarse sólo en situaciones excepcionales y en hospitales generales.
        </p>
        <br>
        <h6>
          <a href="../../../../assets/pdf/LPSM_ 6976.pdf" target="_blank">3 - LEY DE LA SALUD MENTAL EN LA PROVINCIA DE SAN JUAN N° 6.976</a>
        </h6>
        <p>
          Esta Ley tiene por finalidad promover el bienestar de la Salud Mental de la población y prevenir los trastornos en la psiquis de las personas, defender la dignidad, el respeto de la vida del paciente psiquiátrico y promover su rehabilitación psicosocial.
        </p>
        <br>
        <h6>
          <a href="../../../../assets/pdf/res_343.pdf" target="_blank">4 - RESOLUCION 343/09-ME - EDUCACION SUPERIOR</a>
        </h6>
        <p>
          Aprueba contenidos curriculares básicos, carga horaria, criterios de intensidad de la formación práctica y los estándares para la acreditación de las carreras correspondientes a los títulos de Psicólogo y Licenciado en Psicología
        </p>
        <br>
        <h6>
          <a href="../../../../assets/pdf/REGLAMENTO_ESPECIALIDADES_2008.doc" target="_blank">5 - REGLAMENTO DE ESPECIALIDADES</a>
        </h6>
        <p>
          El reconocimiento de las Especialidades, la obtención y el uso del certificado de Especialista que otorga el Colegio de Psicólogos de San Juan, se regirá por las normas del presente reglamento.
        </p>
        <br>
        <h6>
          <a href="../../../../assets/pdf/CodigoEtica.docx" target="_blank">6 - CODIGO DE ETICA      </a>  
        </h6>
        <br>
        <h6>
          <a href="../../../../assets/pdf/Reglamento_Fondo_solidario_Asamblea_2018.pdf" target="_blank">7 - REGLAMENTO DE FONDO SOLIDARIO</a>
        </h6>
        <br>
        <h6>
          <a href="../../../../assets/pdf/Reglamento_SelecciOn_Auditores.pdf" target="_blank">8 - REGLAMENTO INTERN</a>
        </h6> 
        <br>
        <h6>
          <a href="../../../../assets/pdf/Reglamento_SelecciOn_Auditores.pdf" target="_blank">9 - REGLAMENTO DE SELECCION DE AUDITORES</a>
        </h6>
        <br>
  </div>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-0 col-sm-0"></div>
  
</div>