/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.prime-table{
        text-align:center;
        font-size:12px;
      } 
    
#top {
        background: #F5EEB8;padding: 0 0 0; 
        color: #000;font-size:13px;
        height: 50px;
}

#top-submenu {
        background: #F5EEB8;padding: 0 0 0; 
        color: #000;font-size:13px;
        height: 50px;
}

        #top .top-social{font-size: 13px; text-align: center;}
#top ul.top-social{margin: 3px 0 0;}
#top ul.top-social  li{height: 38px; width: 38px; }
#top ul.top-social a i{font-size: 13px;color: #fff;line-height: 2.1;height: 30px; width: 30px;border-radius: 3px;background-color: #2B2D3F;}
#top ul.top-social a i:hover{background-color:#fff;color: #2B2D3F;}


#top-info {
       
        background: #F5EEB8;padding: 2px 0 0; 
        color: #000;font-size:13px;}

        #top-info .top-social{font-size: 16px; text-align: center;}
#top-info ul.top-social{margin: 3px 0 0;}
#top-info ul.top-social  li{height: 38px; width: 38px; }
#top-info ul.top-social a i{font-size: 13px;color: #fff;line-height: 2.1;height: 30px; width: 30px;border-radius: 3px;background-color: #2B2D3F;}
#top-info ul.top-social a i:hover{background-color:#fff;color: #2B2D3F;}

.fondo-body {
        background: rgba(255, 239, 153, 0.7);
    } 

.menu-font{font-size: 15px}

.sub-menu-top {
        background: #DCF1F2;padding: 2px 0 0; 
        color: #000;font-size:13px;
}

.fondo {
        background: #DCF1F2;padding: 2px 0 0; 
        color: #000;font-size:13px;}

 
.btn-menu-uno{
        background-color: #C8E6C9 !important;
        color: #e7e7e7 !important;
        height: 50px;
    
}

.btn-menu-dos{
        background-color: #B2DFDB !important;
        color: #e7e7e7 !important;
        height: 50px;
        
}

.btn-menu-tres{
        background-color: #D1C4E9 !important;
        color: #e7e7e7 !important;
        padding-left: -2px;
        height: 50px;
}

.btn-menu-cuatro{
        background-color: #FFAB00 !important;
        color: #e7e7e7 !important;
        padding-left: -2px;
        height: 50px;
}

.btn-menu-cinco{
        background-color: #EF9A9A !important;
        color: #e7e7e7 !important;
        padding-left: -2px;
        height: 50px;
}


.btn-menu-uno-submenu{
        background-color: #C8E6C9 !important;
        color: #e7e7e7 !important;
        height: 50px;
    
}

.btn-menu-dos-submenu{
        background-color: #B2DFDB !important;
        color: #e7e7e7 !important;
        height: 50px;
        
}

.btn-menu-tres-submenu{
        background-color: #D1C4E9 !important;
        color: #e7e7e7 !important;
        padding-left: -2px;
        height: 50px;
}

.btn-menu-cuatro-submenu{
        background-color: #FFAB00 !important;
        color: #e7e7e7 !important;
        padding-left: -2px;
        height: 50px;
}

.btn-menu-cinco-submenu{
        background-color: #EF9A9A !important;
        color: #e7e7e7 !important;
        padding-left: -2px;
        height: 50px;
}





.icon-home {
        color: #fff;
        text-shadow: 1px 1px 1px #ccc;
        font-size: 1.5em;
    }

    .flexbox{
        display: flex;           /* establish flex container */
        flex-direction: column;  /* make main axis vertical */
        justify-content: center; /* center items vertically, in this case */
        align-items: center;     /* center items horizontally, in this case */
        
    }

    .flexbox-center{
        flex-grow: 5;
        flex-shrink: 5; 
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;        /* for single line flex container */
        align-content: center; 

    }

    
    .flexbox-left{
       
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;        /* for single line flex container */
        align-content: center; 

    }

    .flex-principal-columnas{
        flex:5;
        margin-right: 20px;
    }
    
    .flex-sidebar-columnas{
        flex:1;
    }
    
    .flex-menubar-columnas{
        flex:1;
    }
    
    .flexbox-margin-left{
        margin: 0 auto 0 2  0px;
    }
    
    .flexbox-margin-right{
        margin: auto 20px 0 auto;
    }
    
    .flexbox-margin-center{
        margin: 0 auto 0 auto;
    }
    
    .flexbox-padding{
        padding: 20px;    
    }
    
    .flexbox-max-height{
        max-height: 30px;
      overflow: auto;
    }


.color-danger{color: #ff5722;}
.color-danger{color: #ff5722;}
.color-danger{color: #ff5722;}
.color-danger{color: #ff5722;}
.color-danger{color: #ff5722;}
.color-danger{color: #ff5722;}       

.h1-color-gris{color: #757575;}
.h2-color-gris{color: #757575;}
.h3-color-gris{color: #757575;}
.h4-color-gris{color: #757575;}
.h5-color-gris{color: #757575;}
.h6-color-gris{color: #757575;}


.h1-color-danger{color: #ff5722;}
.h2-color-danger{color: #ff5722;}
.h3-color-danger{color: #ff5722;}
.h4-color-danger{color: #ff5722;}
.h5-color-danger{color: #ff5722;}
.h6-color-danger{color: #ff5722;}


.grid-3-cols{
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        /* grid-template-columns: repeat(2, 1fr 2fr); */
       /* grid-template-rows: 200px 100px;
        grid-auto-rows: 100px; */
        /* grid-template-columns:  1fr 1fr 1fr 1fr; */
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns:  1fr 2fr 1fr; 
        grid-gap: 20px;
        grid-auto-rows:  minmax(20px, auto) ;
}
.grid-header{
        grid-column: 2/3;
        grid-gap: 20px;
}
.grid-1-3-cols{
        grid-column: 2/3;
        grid-gap: 20px;
}

.grid-content-space{
}



.box { background-color: #fff; border-radius: 8px; border: 2px solid #e9ebef; padding: 20px; margin-bottom: 20px; }
.box-title { margin-bottom: 10px; text-transform: uppercase; font-size: 16px; font-weight: 700; color: #094bde; letter-spacing: 2px; }